учеба 
ризубд/dsn.txt
курсачи/иксис/archive/
курсачи/ризубд/actors/.idea
курсачи/ризубд/actors/target
курсачи/ризубд/csp/.idea
курсачи/ризубд/data/.idea
курсачи/ризубд/data/target
курсачи/ризубд/data/haskell/.ghc.environment.x86_64-linux-8.6.5
курсачи/ризубд/data/haskell/dist
курсачи/ризубд/data/haskell/dist-newstyle
курсачи/ризубд/threads/.idea
курсачи/ризубд/threads/threads.iml
курсачи/ризубд/threads/out
курсачи/ризубд/seq/.idea
курсачи/ризубд/seq/target
