учеба 
ризубд/dsn.txt
курсачи/иксис/archive/target
курсачи/иксис/archive/logs
курсачи/иксис/archive/.bsp
курсачи/иксис/archive/.idea
курсачи/иксис/archive/.idea_modules
курсачи/иксис/archive/.classpath
курсачи/иксис/archive/.project
курсачи/иксис/archive/.settings
курсачи/иксис/archive/RUNNING_PID
курсачи/ризубд/actors/.idea
курсачи/ризубд/actors/target
курсачи/ризубд/csp/.idea
курсачи/ризубд/data/.idea
курсачи/ризубд/data/target
курсачи/ризубд/threads/.idea
курсачи/ризубд/threads/threads.iml
курсачи/ризубд/threads/out
